.app {
    @apply w-full md:pt-0 md:pb-0 pt-40 pb-12;
    .faq {
        &--image {
			@media screen and (min-width : 768px) {
				background-image: url('assets/images/bg-pattern-desktop.svg'), url('assets/images/illustration-woman-online-desktop.svg');
				background-position: 135% 80%, -50% 40%;
				background-repeat: no-repeat;
			}
            @apply relative  md:w-1/2;
        }
        &--pattern {
            &-mobile {
                @apply mx-auto;
            }
        }
        &--woman {
			&-mobile{
				@apply absolute -top-1/2  left-1/2 transform translate-x-[-55%] -translate-y-14;
			}
        }
		&--box{
			@apply absolute -left-20 top-[40%];
		}
        &--content {
            @apply px-4 pb-8 md:w-1/2 w-full md:ml-auto md:p-8 md:min-h-[80vh] flex justify-center flex-col;
        }
        &--title {
            @apply text-center font-bold text-4xl my-9;
        }
    }
}
